package draft

import "server/web/view"

templ DraftCreateIndex () {

}

templ DraftCreate (page string, fromProtected bool, cmp templ.Component) {
    @view.Index(page, fromProtected, "") {
        @cmp
    }
}
