package draft

import "server/view"

templ DraftInviteIndex () {

}

templ DraftInvite (page string, fromProtected bool, cmp templ.Component) {
    @view.Index(page, fromProtected, "") {
        @cmp
    }
}
