*.env
client/node_modules/
client/package-lock.json
.idea/*
.idea/fantasy-frc-web.iml
/.idea
server/go.sum
server/view/*/*.go
server/view/*/*.txt
server/view/*.go
server/view/*.txt
server/assets/css/tailwind.css
