# Database Configuration
DB_IP=localhost
DB_NAME=fantasy_frc
DB_USERNAME=postgres
DB_PASSWORD=your_password_here

# Server Configuration
SERVER_PORT=3000

# The Blue Alliance API Token
TBA_TOKEN=your_tba_token_here

# The Blue Alliance Webhook Secret
TBA_WEBHOOK_SECRET=your_webhook_secret_here

# Metrics Collection Secret
METRIC_SECRET=your_metric_secret_here

# OpenTelemetry Configuration
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_RESOURCE_ATTRIBUTES=service.name=fantasy-frc-web

# Secure http cookies. False for dev, true for prod. Defaults to true
SECURE_HTTP_COOKIE=false
