[Unit]
Description=FantasyFrc
After=network.target

[Service]
ExecStart=/usr/local/bin/fantasyfrcserver
Environment=TZ=America/New_York
Restart=always
RestartSec=2

WorkingDirectory=/etc/fantasyfrc/

StandardOutput=journal
StandardError=journal

SyslogIdentifier=fantasyfrc

[Install]
WantedBy=multi-user.target
