[Unit]
After=network.target

[Service]
ExecStart=/usr/local/bin/tempo -config.file=/opt/tempo/tempo.yaml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
